@tailwind base;
@tailwind components;
@tailwind utilities;

.text-med-h5 {
  @apply font-medium text-[1.5rem] leading-[1.8rem];
}

.text-reg-caption {
  @apply text-[0.875rem] leading-[1.25rem];
}

.text-reg-body {
  @apply text-[0.875rem] leading-[1.5rem];
}

.text-dash-slider {
  @apply text-[0.815rem] leading-[1.5rem];
}

.text-dash-intro-header {
  @apply text-[1.5rem] leading-[1.75rem];
}

.text-med-button {
  @apply text-[0.875rem] leading-[1.4rem] font-medium;
}

.text-filter-select {
  @apply text-[0.875rem] leading-[0.875rem] text-gray-3;
}

.text-dash-header {
  @apply text-[1.25rem] leading-[1.25rem];
}

.text-err {
  @apply text-red-500 text-[0.75rem] leading-[1rem];
}

.auth-input {
  @apply bg-gray-6 outline-none focus:ring-2 focus:ring-purple-300 placeholder:text-gray-3 font-medium placeholder:text-[0.875rem] text-[0.875rem] text-black leading-[1.5rem] rounded-lg h-10 px-4 py-3;
}

.main-input {
  @apply bg-white w-full outline-none focus:ring-2 focus:ring-purple-300 border border-gray-4 rounded-full h-10 placeholder:text-[#89868D] text-black text-[0.75rem] leading-[1.125rem];
}

::selection {
  @apply bg-purple-500 text-white;
}

::-moz-selection {
  @apply bg-purple-500 text-white;
}

.scrollbar-custom {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}

tbody > tr > td {
  @apply p-4;
}
